<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sacp.forum.core.mapper.PostMapper">
  <resultMap id="BaseResultMap" type="com.sacp.forum.core.entity.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sacp_id" jdbcType="VARCHAR" property="sacpId" />
    <result column="block_id" jdbcType="INTEGER" property="blockId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="classify_id" jdbcType="INTEGER" property="classifyId" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
    <result column="viewer_number" jdbcType="INTEGER" property="viewerNumber" />
    <result column="reply_number" jdbcType="INTEGER" property="replyNumber" />
    <result column="likes_number" jdbcType="INTEGER" property="likesNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="id_delete" jdbcType="TINYINT" property="idDelete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sacp.forum.core.entity.PostWithBLOBs">
    <result column="txt" jdbcType="LONGVARCHAR" property="txt" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.sacp.forum.core.entity.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sacp_id" jdbcType="VARCHAR" property="sacpId" />
    <result column="block_id" jdbcType="INTEGER" property="blockId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="classify_id" jdbcType="INTEGER" property="classifyId" />
    <result column="orders" jdbcType="INTEGER" property="orders" />
    <result column="viewer_number" jdbcType="INTEGER" property="viewerNumber" />
    <result column="reply_number" jdbcType="INTEGER" property="replyNumber" />
    <result column="likes_number" jdbcType="INTEGER" property="likesNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="id_delete" jdbcType="TINYINT" property="idDelete" />
    <result column="txt" jdbcType="LONGVARCHAR" property="txt" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sacp_id, block_id, title, classify_id, orders, viewer_number, reply_number, likes_number,
    create_time, id_delete
  </sql>
  <sql id="Blob_Column_List">
    txt, context
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.sacp.forum.core.entity.PostExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.sacp.forum.core.entity.PostExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sacp.forum.core.entity.PostExample">
    delete from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sacp.forum.core.entity.PostWithBLOBs">
    insert into post (id, sacp_id, block_id, 
      title, classify_id, orders,
      viewer_number, reply_number, likes_number, 
      create_time, id_delete, txt, 
      context)
    values (#{id,jdbcType=INTEGER}, #{sacpId,jdbcType=VARCHAR}, #{blockId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{classifyId,jdbcType=INTEGER}, #{orders,jdbcType=INTEGER},
      #{viewerNumber,jdbcType=INTEGER}, #{replyNumber,jdbcType=INTEGER}, #{likesNumber,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{idDelete,jdbcType=TINYINT}, #{txt,jdbcType=LONGVARCHAR}, 
      #{context,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sacp.forum.core.entity.PostWithBLOBs">
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sacpId != null">
        sacp_id,
      </if>
      <if test="blockId != null">
        block_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="classifyId != null">
        classify_id,
      </if>
      <if test="orders != null">
        orders,
      </if>
      <if test="viewerNumber != null">
        viewer_number,
      </if>
      <if test="replyNumber != null">
        reply_number,
      </if>
      <if test="likesNumber != null">
        likes_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="idDelete != null">
        id_delete,
      </if>
      <if test="txt != null">
        txt,
      </if>
      <if test="context != null">
        context,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sacpId != null">
        #{sacpId,jdbcType=VARCHAR},
      </if>
      <if test="blockId != null">
        #{blockId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="orders != null">
        #{orders,jdbcType=INTEGER},
      </if>
      <if test="viewerNumber != null">
        #{viewerNumber,jdbcType=INTEGER},
      </if>
      <if test="replyNumber != null">
        #{replyNumber,jdbcType=INTEGER},
      </if>
      <if test="likesNumber != null">
        #{likesNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idDelete != null">
        #{idDelete,jdbcType=TINYINT},
      </if>
      <if test="txt != null">
        #{txt,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null">
        #{context,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sacp.forum.core.entity.PostExample" resultType="java.lang.Long">
    select count(*) from post
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update post
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sacpId != null">
        sacp_id = #{record.sacpId,jdbcType=VARCHAR},
      </if>
      <if test="record.blockId != null">
        block_id = #{record.blockId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.classifyId != null">
        classify_id = #{record.classifyId,jdbcType=INTEGER},
      </if>
      <if test="record.orders != null">
        orders = #{record.orders,jdbcType=INTEGER},
      </if>
      <if test="record.viewerNumber != null">
        viewer_number = #{record.viewerNumber,jdbcType=INTEGER},
      </if>
      <if test="record.replyNumber != null">
        reply_number = #{record.replyNumber,jdbcType=INTEGER},
      </if>
      <if test="record.likesNumber != null">
        likes_number = #{record.likesNumber,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.idDelete != null">
        id_delete = #{record.idDelete,jdbcType=TINYINT},
      </if>
      <if test="record.txt != null">
        txt = #{record.txt,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.context != null">
        context = #{record.context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update post
    set id = #{record.id,jdbcType=INTEGER},
      sacp_id = #{record.sacpId,jdbcType=VARCHAR},
      block_id = #{record.blockId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      classify_id = #{record.classifyId,jdbcType=INTEGER},
      orders = #{record.orders,jdbcType=INTEGER},
      viewer_number = #{record.viewerNumber,jdbcType=INTEGER},
      reply_number = #{record.replyNumber,jdbcType=INTEGER},
      likes_number = #{record.likesNumber,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      id_delete = #{record.idDelete,jdbcType=TINYINT},
      txt = #{record.txt,jdbcType=LONGVARCHAR},
      context = #{record.context,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update post
    set id = #{record.id,jdbcType=INTEGER},
      sacp_id = #{record.sacpId,jdbcType=VARCHAR},
      block_id = #{record.blockId,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      classify_id = #{record.classifyId,jdbcType=INTEGER},
      orders = #{record.orders,jdbcType=INTEGER},
      viewer_number = #{record.viewerNumber,jdbcType=INTEGER},
      reply_number = #{record.replyNumber,jdbcType=INTEGER},
      likes_number = #{record.likesNumber,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      id_delete = #{record.idDelete,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sacp.forum.core.entity.PostWithBLOBs">
    update post
    <set>
      <if test="sacpId != null">
        sacp_id = #{sacpId,jdbcType=VARCHAR},
      </if>
      <if test="blockId != null">
        block_id = #{blockId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        classify_id = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="orders != null">
        orders = #{orders,jdbcType=INTEGER},
      </if>
      <if test="viewerNumber != null">
        viewer_number = #{viewerNumber,jdbcType=INTEGER},
      </if>
      <if test="replyNumber != null">
        reply_number = #{replyNumber,jdbcType=INTEGER},
      </if>
      <if test="likesNumber != null">
        likes_number = #{likesNumber,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="idDelete != null">
        id_delete = #{idDelete,jdbcType=TINYINT},
      </if>
      <if test="txt != null">
        txt = #{txt,jdbcType=LONGVARCHAR},
      </if>
      <if test="context != null">
        context = #{context,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sacp.forum.core.entity.PostWithBLOBs">
    update post
    set sacp_id = #{sacpId,jdbcType=VARCHAR},
      block_id = #{blockId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      classify_id = #{classifyId,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER},
      viewer_number = #{viewerNumber,jdbcType=INTEGER},
      reply_number = #{replyNumber,jdbcType=INTEGER},
      likes_number = #{likesNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      id_delete = #{idDelete,jdbcType=TINYINT},
      txt = #{txt,jdbcType=LONGVARCHAR},
      context = #{context,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sacp.forum.core.entity.Post">
    update post
    set sacp_id = #{sacpId,jdbcType=VARCHAR},
      block_id = #{blockId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      classify_id = #{classifyId,jdbcType=INTEGER},
      orders = #{orders,jdbcType=INTEGER},
      viewer_number = #{viewerNumber,jdbcType=INTEGER},
      reply_number = #{replyNumber,jdbcType=INTEGER},
      likes_number = #{likesNumber,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      id_delete = #{idDelete,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getPostTop5" resultMap="BaseResultMap2">
    select * from post where block_id=#{blockId} and id_delete=0 order by create_time desc limit 5;
  </select>
  <select id="getNewPostTop20" resultMap="BaseResultMap2">
    select * from post where id_delete=0 order by create_time desc limit 20;
  </select>
  <select id="getPostTop5BySacpId" resultMap="BaseResultMap2">
    select * from post where sacp_id=#{sacpId} and id_delete=0 order by create_time desc limit 5;
  </select>
  <select id="getPostByPage" resultMap="BaseResultMap2">
    select * from post where block_id=#{blockId} and id_delete=0 order by create_time desc limit #{start},#{pageSize};
  </select>
  <select id="getPostByPage2" resultMap="BaseResultMap2">
    select * from post where sacp_id=#{sacpId} and id_delete=0 order by create_time desc limit #{start},#{pageSize};
  </select>
</mapper>